## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [7]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Current Description,Humidity,Cloudiness,Wind Speed,Country
0,0,Qaqortoq,60.7167,-46.0333,37.90,broken clouds,83,56,3.42,GL
1,1,Kapaa,22.0752,-159.3190,80.58,overcast clouds,76,100,5.99,US
2,2,Tura,25.5198,90.2201,67.86,broken clouds,91,81,3.76,IN
3,3,Jiaojiang,28.6803,121.4428,57.99,overcast clouds,93,100,5.86,CN
4,4,Hithadhoo,-0.6000,73.0833,85.17,overcast clouds,68,100,14.29,MV

In [8]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like at your destination?"))
max_temp = float(input("What is the maximum temperature you would like at your destination?"))

What is the minimum temperature you would like at your destination?75
What is the maximum temperature you would like at your destination?90

In [10]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)] 
                                    
preferred_cities_df.head()

,City_ID,City,Lat,Lng,Max Temp,Current Description,Humidity,Cloudiness,Wind Speed,Country
1,1,Kapaa,22.0752,-159.3190,80.58,overcast clouds,76,100,5.99,US
4,4,Hithadhoo,-0.6000,73.0833,85.17,overcast clouds,68,100,14.29,MV
12,12,Sabang,5.8933,95.3214,83.88,overcast clouds,75,100,9.60,ID
14,14,Ormara,25.2088,64.6357,84.07,clear sky,76,1,15.68,PK
15,15,Wukari,7.8500,9.7833,82.27,light rain,64,100,6.44,NG

In [11]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                210
City                   210
Lat                    210
Lng                    210
Max Temp               210
Current Description    210
Humidity               210
Cloudiness             210
Wind Speed             210
Country                210
dtype: int64

In [12]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_preferred_cities = preferred_cities_df.dropna()
clean_preferred_cities.head()

,City_ID,City,Lat,Lng,Max Temp,Current Description,Humidity,Cloudiness,Wind Speed,Country
1,1,Kapaa,22.0752,-159.3190,80.58,overcast clouds,76,100,5.99,US
4,4,Hithadhoo,-0.6000,73.0833,85.17,overcast clouds,68,100,14.29,MV
12,12,Sabang,5.8933,95.3214,83.88,overcast clouds,75,100,9.60,ID
14,14,Ormara,25.2088,64.6357,84.07,clear sky,76,1,15.68,PK
15,15,Wukari,7.8500,9.7833,82.27,light rain,64,100,6.44,NG

In [15]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_preferred_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Kapaa,US,80.58,overcast clouds,22.0752,-159.3190,
4,Hithadhoo,MV,85.17,overcast clouds,-0.6000,73.0833,
12,Sabang,ID,83.88,overcast clouds,5.8933,95.3214,
14,Ormara,PK,84.07,clear sky,25.2088,64.6357,
15,Wukari,NG,82.27,light rain,7.8500,9.7833,
21,Vaini,TO,78.96,broken clouds,-21.2000,-175.2000,
22,Bosaso,SO,85.08,scattered clouds,11.2842,49.1816,
23,Kahului,US,80.62,scattered clouds,20.8947,-156.4700,
32,Myingyan,MM,83.62,clear sky,21.4667,95.3833,
34,Saint-Pierre,RE,76.68,overcast clouds,-21.3393,55.4781,

In [26]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Skipped! Hotel information not found.")

Skipped! Hotel information not found.
Skipped! Hotel information not found.
Skipped! Hotel information not found.
Skipped! Hotel information not found.
Skipped! Hotel information not found.
Skipped! Hotel information not found.
Skipped! Hotel information not found.
Skipped! Hotel information not found.
Skipped! Hotel information not found.
Skipped! Hotel information not found.
Skipped! Hotel information not found.

In [27]:
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Kapaa,US,80.58,overcast clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
4,Hithadhoo,MV,85.17,overcast clouds,-0.6000,73.0833,Scoop Guest House
12,Sabang,ID,83.88,overcast clouds,5.8933,95.3214,Hotel Citra
14,Ormara,PK,84.07,clear sky,25.2088,64.6357,Kenara Colony house for Rent
15,Wukari,NG,82.27,light rain,7.8500,9.7833,Elimtop

In [28]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

In [29]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [30]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Lodging</dt><dd>{Hotel Name}</dd>
<dt>Name</dt><dd>{City}<dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>High</dt><dd>{Max Temp}°F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [31]:
# 11a. Add a marker layer for each city to the map. 
city_markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(city_markers)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))